{% extends 'base.html' %}

{% block content %}
<h3>{% block title %} Status {% endblock %}</h3>
<div class="center-flex">
  <div class="list-group status-list">
    <div id="btn-offline" class="list-group-item list-group-item-action status-button">
      Offline
    </div>
    <div id="btn-ap" style="color: #ffcc66" class="list-group-item list-group-item-action status-button">
      Access Point
    </div>
    <div id="btn-local" class="list-group-item list-group-item-action status-button">
      Local Network
    </div>
    <div id="btn-online" class="list-group-item list-group-item-action status-button">
      Online
    </div>
  </div>
</div>
<script src="{{url_for('static', filename='index.js')}}"></script>

{% endblock %}
